/* Plot container */
.hover_plot {
    position: relative;
}

/* Tooltip (icon) to show on plot hover */
.hover_plot .hover_options,
.hover_plot .hover_help {
    visibility: hidden;
    width: 10%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 75%;
    position: absolute;
    z-index: 100;
}

.hover_plot .hover_help {
    left: 10%;
}

/* Tooltip (options) to show on icon hover */
.hover_plot .hover_options .percentile_checkbox,
.hover_plot .hover_help .plot_help_text {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 100%; /* Place at the bottom of parent. */
    position: absolute;
    z-index: 100;
}

.hover_plot .hover_help .plot_help_text {
    width: 50vw;
}

/* Show hover_options on hover_plot hover. */
.hover_plot:hover .hover_options {
    visibility: visible;
}

.hover_plot:hover .hover_help {
    visibility: visible;
}

/* Show percentile_checkbox on hover_options hover. */
.hover_options:hover .percentile_checkbox {
    visibility: visible;
}

.hover_help:hover .plot_help_text {
    visibility: visible;
}
