.performance_image {
    padding-bottom: 10%;
    text-align: center;
}

#acc_vs_time #tp_vs_tn #fp_vs_stucnt #fn_vs_stucnt {
    margin: auto;
}


/*
 * Have all cells be of equal width for the time being.
 * This makes the table header and rows align properly.
 * */
#table_studio_acc td, #table_studio_acc th {
    width: 25%;
}

#table_studio_acc thead, #table_studio_acc tbody {
    display: block; /* This allows scrollably body and fixed header */
    width: 80%;
    margin: auto;
}

/* Make the table body scrollable. */
#table_studio_acc tbody {
    height: 75vh;
    overflow: scroll;
}
